$navbar_height: 70px;
$fake_navbar_height: 90px;
$footer_height: 200px;
$background_color: #efe0d7;
$scrollbar_color: #a6a6a6;
$main_color: #DAEFD7;
$main_color_shadow: #818181;
$main_color_soft_shadow: #c1c1c1;
$second_color: #e4d1c5;
$checkbox_color: #83b09f;
$mobile_mode_max_width: 600px;
$button_color: #e9e6da;
$button_hover_color: #F0F6F1;
$red_color: #ca0f0f;
$green_color: #1E671E;
$text_color_1: #fff;
$text_color_2: #000;