@use "../../variables.scss" as v;

div#products {
    h1.products-title {
        margin: 10px;
    }

    div.products-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    div.products-cards-container>div {
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }

    .card:hover {
        box-shadow: 0 0 15px v.$main_color_shadow;
    }
}

@media all and (max-width: 900px) {
    div#products {
        div.products-cards-container {
            align-items: center;
            justify-content: center;
        }

        div.products-cards-container>div {
            width: calc(100%);
        }
    }
}